@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 1110px;
}

.section-one{
    padding-top: 58px;
    background-color: #EEEFF1;
    
    &__nav{
        display: flex;
        align-items: center;
    }

    &__logo{
        margin-right: 358px;
        font-size: 48px;
        font-weight: 60px;
        color: #34547A;
    }

    &__link{
        margin-left: 42px;
        font-size: 16px;
        font-weight: 26px;
        text-decoration: none;
        color: black;
    }

    &__img{
        width: 100%;
        height: 100%;
    }
}

.content-one{
    @include font-roboto;
    display: flex;
    margin-top: 160px;
    margin-bottom: 146px;
    align-items: center;
    flex-wrap: nowrap;

    &__cell{
        display: flex;
        max-width: 540px;
        margin-left: 130px;
        flex-direction: column;
        align-items: flex-start;    
    }

    &__title{
        font-size: 48px;
        font-weight: 78px;
    }

    &__text{
        font-size: 16px;
        font-weight: 26px;
        color: #727272;
    }

    &__btn{
        padding: 20px 35px;
        margin-top: 60px;
        font-size: 16px;
        font-weight: 26px;
        color: white;
        background-color: #34547A;
    }
}






// @media (min-width:1440px){

//     .section-one{
//         align-items: center;
        
        
//         &__nav{
//             display: block;
//         }
        
//         &__link{
//             margin-left: 40px;
//         }
    
//         &__logo{
//             margin-right: 400px;
//         }
    
//         &__img{
//             width: 350px;
//             height: 230px;
//             object-fit: fill;
//             float: left;
//             margin: 0px 130px 0px 80px;
//         }
//     }

// }
