.section-one {
  background-color: #eeeff1;

  &__nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
  }

  &__logo {
    font-size: 48px;
    font-weight: 700;
    color: #34547a;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-left: 42px;
    font-size: 16px;
    font-weight: 26px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #34547a;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.content-head {
  display: flex;
  margin-top: 160px;
  padding-bottom: 146px;
  align-items: center;

  &__cell {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    font-weight: 78px;
  }

  &__text {
    max-width: 540px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 26px;
    color: #727272;
  }

  &__btn {
    padding: 20px 35px;
    font-size: 16px;
    font-weight: 26px;
    color: white;
    background-color: #34547a;
  }
}

.img-cell {
  &__img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 320px) {
  .section-one {
    &__nav {
      justify-content: center;
    }

    &__cell {
      align-items: center;
    }
  }

  .content-head {
    flex-direction: column;

    &__cell {
      margin-top: 25px;
      align-items: center;
      text-align: center;
    }
  }
}

@media (min-width: 576px) {
  .section-one {
    &__list {
      flex-direction: column;
    }

    &__nav {
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  .section-one {
    &__list {
      flex-direction: row;
    }
  }

  .content-head {
    flex-direction: row;
    &__cell {
      margin-left: 230px;
      align-items: flex-start;
    }
  }
}

@media (max-width:1023px) {
  .section-one{
    &__list{
      display: flex;
      position: absolute;
      top: -100px;
      right: -100px;
      justify-content: center;
      align-items: center;
      transition: .3s;
    }
    &__link{
      margin: 0;
      font-weight: 700;
    }
  }
  .active{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: orange;
  }
  .off{
    overflow: hidden;
  }

  .burger{
    &__cell{
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 20px;
      z-index: 1;
      cursor: pointer;
    }
    &__toggle{
      width: 100%;
      height: 2px;
    }

    &__toggle > span,
    &__toggle > span::after,
    &__toggle > span::before{
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #34547a;
      transition: .3s;
    }
    &__toggle > span::after{
      content: '';
      top: 9px;
    }
    &__toggle > span::before{
      content: '';
      top: 18px;
    }
  }

  .cross > span{
    background-color: #ffffff00;
  }
  .cross > span::after{
    transform: translateY(5px) rotate(-45deg);
  }
  .cross > span::before{
    transform: translateY(-5px) rotate(45deg);
  }
}