.about-me{
    display: flex;
    margin-top: 120px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;


    &__title{
        font-size: 32px;
        line-height: 37px;
    }

    &__text{
        max-width: 540px;
        margin-top: 50px;
        text-align: center;        
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
}
// /about

.numbers{
    background-color: #34547A;

    &__container{
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
    }
}

.num-cell{
    display: flex;
    align-items: center;

    &__img{
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: 50px;
        max-height: 50px;
    }

    &__content{
        max-width: 70px;
        max-height: 44px;
        margin-left: 20px;
    }

    &__title{
        font-size: 21px;
        line-height: 24px;
    }

    &__text{
        font-size: 16px;
        line-height: 26px;
    }
}
// /numbers

.skills-cell{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;


    &__img{
        width: 500px;
        height: 400px;
    }

    &__title{
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 37px;
    }

    &__subtitle{
        font-size: 16px;
        line-height: 26px;
        margin-top: 30px;
        color: #727272;
    }

    &__line{
        width: 445px;
        height: 4px;
        margin-top: 20px;
    }
}
// /skills

.video-cell{
    display: flex;
    max-width: 540px;
    max-height: 147px;
    margin-top: 100px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;



    &__title{
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 37px;
    }

    &__text{
        font-size: 16px;
        line-height: 26px;
    }

    &__video{
        width: 1110px;
        height: 600px;
        margin-bottom: 100px;
    }
}
// /video

.link-cell{


    &__img{
        width: 50vh;
        height: 50vh;
    }
}

.micro-box{
    
    &__content{
        display: flex;
        margin-top: 72px;
        margin-bottom: 100px;
        justify-content: space-between;
    }

    &__img{
        width: 255px;
        height: 120px;
    }
}
// /projects

.form{
    background-color: #EEEFF1;
}

.form-box{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;


    &__cell{
        width: 540px;
        height: 147px;
        margin-top: 100px;
        margin-bottom: 65px;
    }

    &__title{
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 37px;
    }

    &__text{
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
}

.reg-cell{
    margin-bottom: 50px;

    &__content-fio{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    &__text{
        width: 233px;
        height: 50px;
        margin-right: 30px;
        text-align: 14px;
        line-height: 23px;
        padding-left: 20px;
    }
    
    &__email{
        width: 233px;
        height: 50px;
        text-align: 14px;
        line-height: 23px;
        padding-left: 20px;
    }
    
    &__content-message{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    &__textarea{
        width: 520px;
        height: 175px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-top: 20px;
    }

    &__button{
        width: 190px;
        height: 55px;
        color: white;
        background-color: #34547A;
    }

}